*{
    
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-size: 20px;  
    font-family: Lato;

	/* font-family: Arial, Helvetica, sans-serif; */
}
  body {
    color: white;
    background-color: black;
  }



button{
    cursor: pointer;
    background: none;
    border: none;
    margin: 2%  ;
}
.container {
    height: 100vh;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#appArea{
    float: left;
    width: 100%;
    height: 100%;
    background-color: black;
    /*background: radial-gradient(circle at 51% 47.85%, #ff9380 0, #ff8388 12.5%, #ff738d 25%, #ff638d 37.5%, #f25389 50%, #d04582 62.5%, #b23b7c 75%); */
}
#topo{
    width: 100%;
    height: 10%;
    padding: 15px 20px 15px 25px;

}
#topo i{
    display: inline;
    color: #B8C6CC;
}
#topo p{
   display: inline;
   color: #B8C6CC;
}
#topo #hora{
    float: right;
    display: inline;
    color:#FF8A65;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
}

.container_music{

	width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#playlistTitle{
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 25px;
    width: 100%;
    font-size: 150%;
    text-align: center;
    color: #FF8A65;
}
#playlistContainer{ 
    width: 100%;
    background-color: #00000023;
    box-shadow: 1px 0px 20px 12px rgb(240 240 240 / 20%);
    border-radius: 0 5%;
    
}
#playlistContainer ul{
    list-style: none;
    padding: 5px 0 0 10px;
}
#playlistContainer ul li{
    padding: 10px 0;
    border-bottom: solid #f0d6ce 1px;
    cursor: pointer;
}
.musicName{
    color: #FF8A65;
}
.musicAuthor{
    color: #f0d6ce;
}

#musicPhoto{
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 80%;
    margin: 5%;
}
#logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#containerPlayer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#containerPlayer #player{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
}
#containerProgressBar{
    margin-top: 20%;
    width: 80%;    
    align-self: center;
}

#timingMusic{
    display: inline;
    position: relative;
    top: 30%;
}

#musicDuration{
    display: inline;
    position: relative;
    float: right;
    top: 30%;
}

.progressBar{
    align-items: center;
    
}
#progress{
    width: 100%;
}


  input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 2px;
    
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: #FF8A65;
	border-radius: 50%;
	cursor: pointer;
}
.right input[type=range]{
	width: 40%;
}

.iconColor{
    color: white;
}


#containerPlayer #musicName{
    position: relative;
    font-size: 150%;
    color: #f0d6ce;
    text-align: center;
    padding-top: 10px;
}

#containerPlayer #authorName{
    text-align: center;
    
}

/* @media screen and (max-width: 800px) {
*/
  @media only screen and (max-width: 600px) {

  #musicPhoto{
    display: none;
  }
    
.container_music{
  	width: 100%;
  	
    display: flex;
   
    flex-direction: column-reverse;
}
#playlistContainer{
  position: sticky;
height: 100vh;
  top: 0;
  display: block;
  border-radius: 0;
}
#playlistTitle{
 padding: 6%;
}

#topo{
  height: 10vh;
}
#containerPlayer{
 position: relative;
  
  top: 0;
  height: 90vh;
  
}
}